@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7F6F5;
    font-family: 'Poppins', sans-serif;
}

header{
    background: linear-gradient(to right, #233d4d, #22444D);
    grid-area: header;
    /* box-shadow: 0px 1px 15px #000000; */
    border-bottom: 3px solid #fe7f2d;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}


.title a{
    text-decoration: none;
    font-size: 2rem;
    color: #fe7f2d;
    font-weight: 450;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.menu{
    display: flex;
    list-style: none;
    justify-items: center;
    font-size: 1rem;
}

.menu li{
    padding-right: 1rem;
}

.menu > li > a{
    color: gray;
    text-decoration: none;
}

.menu li a:hover{
    color: white;
    font-weight: 600;
}


aside{
    grid-area: aside;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}


main{
    grid-area: main;
    background: white;
    box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 50%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
    display: flex;
    flex-direction: column;
}

.main_header > h2{
    margin-left: 1.5rem;
    color: #233d4d;
}

.line_main_header{
    height: 1px;
    background: rgb(179, 179, 179);
}

.box_register_system{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 35rem;
}

.register_system{
    display: flex;
    flex-direction: column;
}

/*  Font sizing for all text elements in register box */

.register_system select, input[type="text"], textarea{
    margin-bottom: 1.3rem;
 }


 /* Size text elements in register box*/
 .register_system select, input[type="text"]{
    height: 2rem;
    outline: none;
 }

 .btn{
    height: 2.5rem;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background: #013a63;
    border: 0;
    box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
 }

 .btn:hover{
    background: #01497c;
    cursor: pointer;
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
 }

.container{
    display: grid;
    grid-template-columns: 0.75fr 3.25fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "header header" "aside main";
}